# --------------------------------------------
# Python
# --------------------------------------------

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

Enunciado (imprimible).pdf
Enunciado.pdf
*.csv